@model IEnumerable<EntityLayer.Concreate.Blog>




@foreach (var item in Model)
{
    <div class="blog-grids row mb-3">
        <div class="col-md-5 blog-grid-left">
            <a href="/Blog/BlogDetails/@item.BlogId">
                <img src="~/Theme-Main/images/@(item.BlogImage).jpg" class="card-img-top img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-7 blog-grid-right">

            <h5>
                <a href="/Blog/BlogDetails/@item.BlogId">@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 60).LastIndexOf(" "))...</a>
            </h5>
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i> @item.BlogCreateDateTime.ToString("d")
                </span>
            </div>
        </div>

    </div>
}





